<h1>FORM ITEM</h1>
<form [formGroup]="menu">
    <label>menuname:<input formControlName="menuname"></label>
    <label>url:<textarea formControlName="url" ></textarea></label>
    <button (click)="onsubmit()" >submit</button>

</form>


<form [formGroup]="menu">
      <h2>ARRAY FORM</h2>
      <button (click)="addCreds()">Add</button>

      <div formArrayName="arrform" *ngFor="let creds of menu.get('arrform').controls; let i = index">
        <div [formGroupName]="i">
          <label>menuname<input formControlName="menuname"></label>
          <label>url<textarea formControlName="url"></textarea></label>
        </div>
      </div>

     </form>